body {
    background-color: rgb(86, 236, 86);
}
.card {
    text-align: center;
}
.card:hover {
    transform:scale(1.03);
    transition:0.3s;
}
.cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 40px;
    justify-content: center;
}
.card-flip {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    perspective: 1000px;
}
.card-flip:hover .card-inner {
    transform: rotateY(180deg);
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: white;
    color: black;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    z-index: 2;
}
.card-back {
    transform: rotateY(180deg);
    text-align: center;
}
.card-inner {
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 400px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card-flip:hover .card-inner,
.card-flip.active .card-inner {
  transform: rotateY(180deg);
}
h2 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    margin: 20px;

}
.lulupicture { 
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 8px;
}
.linkpicture {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.emailpicture {
    width: 85px;
    height: 85px;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1200px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}