/* CUSTOM STYLES */
body {
    font-family: 'Kodchasan', sans-serif;
    background-color: #ffff;
    color: #333;
}

/* MAIN */
main>div {
    margin: 0% 10%;
}

p {
    line-height: 2;
}

/* CAROUSEL */
#carousel-container p {
    width: 70%;
}

#carousel {
    padding: 0%;
    text-align: center;
    overflow: hidden;
}

.carousel-item {
    display: none;
    width: 80%;
    margin: auto;
}

.carousel-item>img {
    width: 40vw;
}

h5 {
    position: relative;
    left: 60%;
    padding-left: 15px;
    margin-bottom: 5px;
    text-align: left;
}

.message {
    border-radius: 20px 20px 20px 0;
    padding: 8px 15px;
    position: sticky;
    left: 60%;
    margin-bottom: 30px;
    max-width: 300px;
    background-color: #61B323;
    color: #fff;
}

#carousel-nav {
    text-align: center;
}

.prev,
.next {
    cursor: pointer;
    padding: 10%;
    color: #333;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.carousel-item-active,
.dot:hover {
    background-color: #61B323;
}

h2 {
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
    color: #333;
}

/* CARDS */
h3 {
    font-size: 1.8em;
    margin: 1em 0;
}

h4 {
    font-size: 1.3em;
    margin: 0.5em 0;
    font-weight: 600;
}

#cards-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
}

.card {
    width: 33%;
    padding: 1%;
}

.card img {
    display: block;
    width: 95%;
    height: auto;
    margin: auto;
    border-radius: 10px;
}

.card ul {
    line-height: 2.3;
}

.card ul li::before {
    content: "-   ";
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 992px) {
    /* RESPONSIVE CAROUSEL */
    #carousel-container p {
        width: 100%;
    }

    h5 {
        left: 15%;
    }

    .message {
        left: 15%;
    }

    .carousel-item>img {
        width: 70vw;
    }

    /* RESPONSIVE CARDS */
    #cards-container {
        display: block;
    }

    .card {
        width: 100%;
    }
}