/* CUSTOM STYLES */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Kodchasan', sans-serif;
    background-color: #ffff;
    color: #333;
}

/* MAIN */
main>div {
    margin: 0% 10%;
}

p {
    line-height: 2;
}

/* CAROUSEL */
h2 {
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
    color: #333;
}

#pIntro {
    width: 70%;
    margin-bottom: 50px;
}

.pScrollDown {
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.arrow-down {
    width: 25px;
    height: 25px;
    border: solid #333;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#carousel {
    padding: 0%;
    text-align: center;
    overflow: hidden;
}

.carousel-item {
    display: none;
    width: 80%;
    margin: auto;
}

.carousel-item>img {
    width: 25vw;
    margin-bottom: 20px;
    transition: all .5s ease-in-out;
}

.carousel-item>img:hover {
    scale: 1.1;
}

h5 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.message {
    border-radius: 20px 20px 20px 0;
    padding: 8px 15px;
    position: sticky;
    left: 60%;
    max-width: 300px;
    background-color: #61B323;
    color: #fff;
    text-align: left;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

#carousel-nav {
    text-align: center;
    margin-top: 5px;
}

.prev,
.next {
    cursor: pointer;
    margin: 0 20px;
    color: #333;
    font-size: 2em;
}

.dot {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.carousel-item-active {
    background-color: #61B323;
}

.dot:hover {
    background-color: rgba(248, 140, 140, 0.7);
}

.prev:hover,
.next:hover {
    color: rgba(248, 140, 140, 0.7);
}


#carousel {
    padding: 20px;
    background-color: rgba(250, 222, 82, 0.1);
    border: 1px solid rgba(250, 222, 82, 0.6);
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

#carousel-nav {
    margin: 20px 0px 50px 0px;
}

#carousel-nav p {
    margin-top: 30px;
}

/* CARDS */
h3 {
    font-size: 1.8em;
    margin: 1em 0;
}

h4 {
    font-size: 1.3em;
    margin: 0.5em 0;
    font-weight: 600;
}

#cards-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
}

.card {
    width: 33%;
    padding: 1%;
}

.card img {
    display: block;
    width: 95%;
    height: auto;
    margin: auto;
    border-radius: 10px;
}

.card ul {
    line-height: 2.3;
}

.card ul li::before {
    content: "-   ";
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 992px) {

    /* RESPONSIVE CAROUSEL */
    #pIntro {
        width: 100%;
    }

    h5 {
        left: 15%;
    }

    .message {
        line-height: 1.2;
        border-radius: 20px;
    }

    .carousel-item>img {
        width: 60vw;
        margin-top: 20px;
    }

    /* RESPONSIVE CARDS */
    #cards-container {
        display: block;
    }

    .card {
        width: 100%;
    }
}