/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CUSTOM STYLES */
body {
    font-family: 'Kodchasan', sans-serif;
    background-color: #ffff;
    color: #333;
}

header {
    width: 100%;
}

#logo-container {
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 1em;
    margin: 1% 0;
}

#arrow-left-header {
    width: 25px;
    height: 25px;
    border: solid #333;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 3em;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

#atomic-numer {
    color: #fff;
    background-color: #61B323;
    padding: 10px;
}

h1 {
    display: inline;
    text-align: left;
    font-size: 2.5em;
    margin-left: 1em;
    margin-top: 0.5em;
    color: #333;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #333;
}

nav {
    text-align: center;
    width: 100%;
    position: relative;
    height: auto;
    overflow: hidden;
    background: none;
    border-bottom: 1px solid #000;
}

.active {
    background-color: #FADE52;
    border-radius: 25px 25px 0 0;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 1em 3em;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li:hover {
    background-color: rgba(250, 222, 82, 0.5);
    border-radius: 25px 25px 0 0;
}


main>div {
    margin: 0% 10%;
}

p {
    line-height: 2;
}

#carousel-container p {
    width: 70%;
}

#carousel {
    padding: 3%;
    text-align: center;
}

h2 {
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
    color: #333;
}

h3 {
    font-size: 1.8em;
    margin: 1em 0;
}

h4 {
    font-size: 1.3em;
    margin: 0.5em 0;
    font-weight: 600;
}

#cards-container {
    display: flex;
    flex-direction: row;
}

.card {
    width: 33%;
    margin: 1em;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.card ul {
    line-height: 2.3;
}

.card ul li::before {
    content: "📌   ";
}

footer {
    position: sticky;
    width: 100%;
}

#footer-nav ul {
    text-align: center;
}

#footer-nav ul li {
    display: inline-block;
    border-radius: 10px;
    margin: 3% 15%;
    text-align: center;
    width: 170px;
    line-height: 60px;
    padding: 10px 40px;

}

#footer-nav ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.95em;
    display: block;
    font-weight: bolder;
}

#footer-nav ul li:first-child {
    background-color: #F88C8C;
}

#footer-nav ul li:nth-child(2) {
    background-color: #436436;
}

#footer-info {
    text-align: center;
    padding: 1em;
    background-color: rgba(201, 227, 172, 0.5);
    border-top: 1px solid #C9E3AC;
}

#arrow-left-footer {
    width: 10px;
    height: 10px;
    border: solid #ffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    vertical-align: sub;
}

#arrow-right-footer {
    width: 10px;
    height: 10px;
    border: solid #ffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    vertical-align: sub;
}

/*Responsive Design*/

@media only screen and (max-width: 992px) {
    nav ul li {
        display: block;
        width: 100%;
        border-bottom: 1px solid #333;
    }

    #arrow-left-header {
        margin-left: 1em;
    }

    #carousel-container p {
        width: 100%;
    }

    #cards-container {
        display: block;
    }

    .card {
        width: 100%;
    }
}