body {
  font-family: 'Kodchasan', sans-serif;
  margin: 0;
  padding: 20px;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 100vh;
  box-sizing: border-box;
}

.lado-izquierdo {
  flex-shrink: 0;
}

.imagen-k {
  width: 10cm;
  height: auto;
}

ul.opciones {
  list-style: none;
  padding: 0;
  max-width: 300px;
}

ul.opciones li {
  padding: 12px;
  margin: 8px 0;
  border: 1px ;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  text-align: center;
}

ul.opciones li:hover {
  background-color: #f88c8c6f;
}

.seleccionado {
  background-color: #f88c8c81;
  color: white;
}

.correcto {
  border: 2px solid green;
}

.incorrecto {
  border: 2px solid red;
}

/* Mensaje de error emergente */

#error, .error {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f88c8cf2;
  color: white;
  font-size: 18px;
  padding: 15px 25px;
  z-index: 9999;
  border-radius: 12px;
  box-shadow: 0 4px 12px (0, 0, 0, 0.3); /* Arreglado */
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-height: 3cm;
  justify-content: center;
}


.error img {
  height: 120px;
  width: 120px;
}
